@import url(./__container/comments__container.css);
.comments {
    max-width: 1184px;
    margin: 0 auto;
}
@media screen and (min-width : 1024px) and (max-width : 1280px) {
    .comments {
        margin-bottom: 80px;  
        max-width: 928px;
    }
 }
 @media screen and (min-width : 768px) and (max-width : 1023px) {
    .comments {
    max-width: 660px;
    }
 }
 @media screen and (max-width : 424px) {
    .comments {
        max-width: 343px;       
    }
 }
 