.place__title {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 72px;
    line-height: 65px;
    color: #fff;
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    align-items: flex-end;
}
@media screen and (min-width : 768px) and (max-width : 1023px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        height: 104px;
    }
 }
 @media screen and (min-width : 425px) and (max-width : 767px) {
    .place__title {
        font-size: 2rem;
        line-height: 2.2;
    }
 }
 @media screen and (min-width : 375px) and (max-width : 424px) {
    .place__title {
        width: 343px;
        margin: 0 auto 32px;        
        font-size: 2rem;
        line-height: 2.2;
        text-align: start;
    }
 }
 @media screen and (min-width : 320px) and (max-width : 374px) {
    .place__title {
        width: 288px;
        margin: 0 auto 32px;   
        font-size: 2rem;
        line-height: 2.2;
        text-align: start; 
    }
 }