.place__title {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 72px;
    line-height: 65px;
    color: #fff;
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: end;
}
@media screen and (min-width : 768px) and (max-width : 1024px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
 }
 @media screen and (min-width : 425px) and (max-width : 768px) {
    .place__title {
        font-size: 2rem;
        line-height: 2.2;
    }
 }
 @media screen and (max-width : 425px) {
    .place__title {
        font-size: 2rem;
        line-height: 2.2;
    }
 }