.page {
    margin: 0 auto;
    max-width: 1184px;
}
@media screen and (min-width : 1024px) and (max-width : 1280px) {
   .page {
       max-width: 928px;
   }
}
@media screen and (min-height : 768px) and (max-width : 1023px) {
    .page {
        max-width: 768px;
    }
 }
 @media screen and (min-height : 425px) and (max-width : 767px) {
    .page {
        max-width: 375px;
    }
 }
 @media screen and (max-height : 424px) {
    .page {
        max-width: 288px;
    }
 }