.page {
    margin: 0 auto;
    max-width: 1184px;
}
@media screen and (min-width : 1024px) and (max-width : 1279px) {
   .page {
       max-width: 1024px;
   }
}
@media screen and (min-width : 768px) and (max-width : 1023px) {
    .page {
        max-width: 768px;
    }
 }
 @media screen and (min-width : 425px) and (max-width : 767px) {
    .page {
        max-width: 375px;
    }
 }
 @media screen and (min-width : 375px) and (max-width : 424px) {
    .page {
        max-width: 375px;
    }
 }
 @media screen and (min-width : 320px) and (max-width : 374px) {
    .page {
        max-width: 320px;
    }
 }