@import url(./__item/photo-grid__item.css);
.photo-grid {
    margin: 0 auto;
    padding: 102px 0 92px;
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: repeat(3, 188px);
    grid-auto-rows: 100px 1fr;
    grid-gap: 17px;
}
@media screen and (min-width : 1024px) and (max-width : 1279px) {
    .photo-grid {
        max-width: 928px;
        padding: 102px 0 102px;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(4, 200px);
        grid-gap: 14px;        
    }
 }
 @media screen and (min-width : 768px) and (max-width : 1023px) {
    .photo-grid {
        max-width: 720px;
        padding: 97px 0 102px;
        grid-template-columns: repeat(2, 352px);
        grid-template-rows: repeat(6, 234px);
        grid-gap: 16px;        
    }
 }
 @media screen and (min-width : 425px) and (max-width : 767px) {
    .photo-grid {
        max-width: 375px;
        padding: 64px 0 64px;
        grid-template-columns: 343px;
        grid-template-rows: repeat(12, 232px);
        grid-gap: 16px;  
    }
 }
 @media screen and (min-width : 375px) and (max-width : 424px) {
    .photo-grid {
        max-width: 343px;
        padding: 64px 0 64px;
        grid-template-columns: 342px;
        grid-template-rows: repeat(12, 232px);
        grid-gap: 8px;  
    }
 }
 @media screen and (min-width : 320px) and (max-width : 374px) {
    .photo-grid {
        max-width: 288px;
        padding: 64px 0 64px;
        grid-template-columns: 288px;
        grid-template-rows: repeat(12, 192px);
        grid-gap: 8px;  
    }
 }
