@import url(./__item/photo-grid__item.css);
.photo-grid {
    min-height: 100vh;
    margin: 0 auto;
    padding: 102px 0 92px;
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 100px 1fr;
    grid-gap: 17px;
}
@media screen and (max-width : 1084px) {
    .photo-grid {
        max-width: 928px;
        padding: 102px 0 102px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 14px;        
    }
 }
 @media screen and (min-width : 768px) and (max-width : 1084px) {
    .photo-grid {
        max-width: 720px;
        padding: 102px 0 102px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 16px;        
    }
 }
 @media screen and (min-height : 425px) and (max-width : 1084px) {
    .photo-grid {
        max-width: 375px;
        min-height: 2959px;
        padding: 64px 0 64px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 2fr);
        grid-gap: 15px;  
    }
 }