.comment__quote {
    margin-bottom: 24px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    width: 100%;
}
@media screen and (min-width : 768px) and (max-width : 1024px) {
    .comment__quote{
        order: 2;
        margin-bottom: 0;
    }
}
@media screen and (max-width : 425px)  {
    .comment__quote{
        order: 2;
        margin-bottom: 0;
    }
}