.places {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
@media screen and (min-width : 375px) and (max-width : 424px) {
    .places {
        max-width: 375px;
        margin: 0 auto;
    }
 }
 @media screen and (min-width : 320px) and (max-width : 374px) {
    .places {
        max-width: 320px;
        margin: 0 auto;
    }
 }