.place__image {
    display: flex;
    align-items: flex-start;
    width: 100%;
    object-fit: contain;
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    align-items: start;
}
@media screen and (min-width : 425px) and (max-width : 768px) {
    .place__image {
        margin-bottom: 24px;
    }
 }
 @media screen and (max-width : 425px) {
    .place__image {
        margin-bottom: 24px;
    }
 }