.place__image {
    display: flex;
    align-items: flex-start;
    width: 460px;
    height: 460px;
    object-fit: contain;
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    align-items: start;
}
@media screen and (min-width : 1024px) and (max-width : 1279px) {
    .place__image {
        margin-bottom: 24px;
        width: 440px;
        height: 440px;
    }
 }
 @media screen and (min-width : 768px) and (max-width : 1023px) {
    .place__image {
        margin-bottom: 24px;
        width: 340px;
        height: 340px;
    }
 }
@media screen and (min-width : 425px) and (max-width : 767px) {
    .place__image {
        margin-bottom: 24px;
        width: 340px;
        height: 340px;
    }
 }
 @media screen and (min-width : 375px) and (max-width : 424px) {
    .place__image {
        margin-bottom: 24px;
        max-width: 375px;
        width: 100%;
        height: 375px;
    }
 }
 @media screen and (min-width : 320px) and (max-width : 374px) {
    .place__image {
        margin-bottom: 24px;
        width: 320px;
        height: 320px;
    }
 }