.comment__author {
    font-weight: 900;
    font-size: 14px;
    line-height: 22px;
}
@media screen and (min-width : 768px) and (max-width : 1023px) {
.comment__author {
    order: 1;
    margin: 0 0 24px;
}
}
@media screen and (max-width : 424px) {
    .comment__author {
        order: 1;
        margin: 0 0 24px;
    }
}