.comments__container {
    margin: 0 auto 102px;;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #fff;    
}
@media screen and (min-width : 768px) and (max-width : 1084px) {
    .comments__container {
        max-width: 382px;
        flex-direction: column;  
        padding: 0;   
        align-items: center;   
    }
 }
 @media screen and (min-width : 425px) and (max-width : 768px) {
    .comments__container {
        max-width: 343px;
        flex-direction: column;  
        padding: 0;   
        align-items: center;   
    }
 }
 @media screen and (max-width : 425px) {
    .comments__container {
        max-width: 288px;
        min-height: 904px;
        flex-direction: column;  
        padding: 0;   
        align-items: center;   
    }
 }