.comments__container {
    margin: 0 auto 102px;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;  
}
@media screen and (min-width : 1024px) and (max-width : 1280px) {
    .comments__container {
       min-height: 339px;   
       padding: 0;
    }
 }
@media screen and (min-width : 768px) and (max-width : 1023px) {
    .comments__container {
        max-width: 382px;
        flex-direction: column;  
        padding: 0;   
        align-items: center;  
        justify-content: space-between; 
        margin: 0 auto 102px;
    }
 }
 @media screen and (min-width : 425px) and (max-width : 767px) {
    .comments__container {
        max-width: 343px;
        margin: 0 auto 48px;
        flex-direction: column;  
        padding: 0;   
        align-items: center;   
        justify-content: center; 
    }
 }
 @media screen and (max-width : 424px) {
    .comments__container {
        max-width: 288px;
        flex-direction: column;  
        padding: 0;   
        align-items: center;  
        justify-content: space-between;  
    }
 }