.cover__subtitle {
    text-align: center;
    margin: 0 auto 48px;
    color: #fff; 
    width: 32%; 
    z-index: 1;
    font-size: 18px;
    line-height: 26px;
    font-weight: normal;
}
@media screen and (min-width : 768px) and (max-width : 1023px) {
    .cover__subtitle {
        width: 50%;
        font-size: 18px;
        line-height: 26px;
        margin: 0 auto 40px;
    }
 }
@media screen and (min-width : 425px) and (max-width : 767px) {
    .cover__subtitle {
        width: 60%;
        font-size: 14px;
        line-height: 17px;
        margin: 0 auto 24px;
    }
 }
 @media screen and (max-width : 424px) {
    .cover__subtitle {
        width: 60%;
        font-size: 14px;
        line-height: 17px;
        margin: 0 auto 24px;
    }
 }