@import url(./__container/video__container.css);
@import url(./__item/video__item.css);
@import url(./__item-kamchatka/video__item-kamchatka.css);
@import url(./__item-observatory/video__item-observatory.css);
@import url(./__icon-play/video__icon-play.css);
@import url(./__duration/video__duration.css);
@import url(./__title/video__title.css);
@import url(./__subtitle/video__subtitle.css);
@import url(./__overlay/video__overlay.css);
@import url(./__text-container/video__text-container.css);

.video {
    max-width: 1184px;
    margin: 0 auto;
}
.video__item:hover .video__overlay {
    background-color: black;
    opacity: 0.8;
}
@media screen and (min-width : 1024px) and (max-width : 1280px){
    .video {
        max-width: 928px;
    }
 }
 @media screen and (min-width : 768px) and (max-width : 1023px) {
    .video {
        max-width: 720px;
    }
 }
 @media screen and (min-width : 425px) and (max-width : 767px) {
    .video {
        max-width: 343px;
    }
 }
 @media screen and (max-width : 424px) {
    .video {
        max-width: 288px; 
        margin: 0 auto 64px;
    }
 }