@import url(./__link/header__link.css);
@import url(./__lang/header__lang.css);
@import url(./__link/_state/header__link_state-active.css);
.header {
    max-height: 52px;
    min-width: 288px;
    max-width: 1184px; 
    margin: 30px auto 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(143px, 1fr));
    grid-template-areas:
    "logo links";
    align-items: center;
}
@media screen and (max-width : 1084px) {
   .header {
       max-width: 928px;
   }
}
@media screen and (min-width : 768px) and (max-width : 1084px) {
    .header {
        max-width: 768px;
    }
 }
 @media screen and (min-width : 425px) and (max-width : 1084px) {
    .header {
        max-width: 375px;
        max-height: 42px;
        margin: 16px auto 0;
    }
 }
 @media screen and (max-width : 425px) {
    .header {
        max-width: 288px;
        max-height: 42px;
        margin: 16px auto 0;
    }
 }