.video__item-kamchatka {
    background-image: url(../../../images/kamchatka.png);
    margin-right: 18px;    
    position: relative;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media screen and (min-width : 768px) and (max-width : 1023px) {
    .video__item-kamchatka {
        margin-right: 16px;
    }
 }
@media screen and (min-width : 425px) and (max-width : 767px) {
    .video__item-kamchatka {
        margin-bottom: 8px;
        margin-right: 0px;
        padding: 0 0 8px;
    }
 }
 @media screen and (max-width : 424px) {
    .video__item-kamchatka {
        margin-right: 0px;
    }
 }