.video__item-kamchatka {
    background-image: url(../../../images/kamchatka.png);
    margin-right: 18px;    
    position: relative;
}
@media screen and (min-width : 425px) and (max-width : 767px) {
    .video__item-kamchatka {
        margin-bottom: 8px;
        margin-right: 0px;
        padding: 0;
    }
 }
 @media screen and (max-width : 424px) {
    .video__item-kamchatka {
        margin-bottom: 8px;
        margin-right: 0px;
    }
 }