.header__link {
    color: #fff;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;   
}
.header__link:hover {
    opacity: 0.8;
    transition: opacity  0.9s ease-in-out;
}
@media screen and (min-height : 425px) and (max-width : 767px) {
    .header__link {
        font-size: 18px;        
    }
 }