.header__link {
    color: #fff;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;   
}

@media screen and (min-height : 425px) and (max-width : 1084px) {
    .header__link {
        font-size: 18px;        
    }
 }