.video__item {
    width: 100%;
    height: 323px;
    background-repeat: no-repeat;
    text-decoration: none;
    color: #fff; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between;     
}
.video__item:hover {
    opacity: 0.8;
    background-color: #000;
}
@media screen and (min-width : 768px) and (max-width : 1023px) {
    .video__item {
        min-height: 200px;
    }
 }
@media screen and (min-width : 425px) and (max-width : 767px) {
    .video__item {
        align-items: flex-start;
    }
 }
 @media screen and (max-width : 424px)  {
    .video__item {
        width: 100%;
        height: 192px;
    }
 }