.video__item {
    width: 100%;
    height: 323px;
    background-repeat: no-repeat;
    text-decoration: none;
    color: #fff; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between;     
}
@media screen and (min-width : 425px) and (max-width : 768px) {
    .video__item {
        align-items: flex-start;
    }
 }
 @media screen and (max-width : 425px)  {
    .video__item {
        width: 100%;
        height: 192px;
    }
 }