.video__item {
    width: 49%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    color: #fff;   
    object-fit: cover; 
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.video__item:hover .video__overlay {
    background-color: black;
    opacity: 0.8;
}
@media screen and (min-width : 425px) and (max-width : 767px) {
    .video__item {
        width: 100%;
        height: 200px;
        background-size: cover;
        object-fit: cover;
    }
 }
 @media screen and (max-width : 424px)  {
    .video__item {
        width: 100%;
        height: 200px;
        background-size: cover;
        object-fit: cover;
        margin-top: -18px;
    }
 }