.footer__link {
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;
    text-decoration: none;
    color: #fff;
    margin: 0 18px 0 0;
    padding: 0;
}
.footer__link:last-of-type {
    margin-right: 0;
}

@media screen and (min-width : 768px) and (max-width : 1084px) {
    .footer__link {
        font-size: 16px;
        line-height: 27px; 
    }
 }
 @media screen and (min-width : 425px) and (max-width : 768px) {
    .footer__link {
        font-size: 24px;
        line-height: 41px; 
    }
 }