.footer__link {
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;
    text-decoration: none;
    color: #fff;
    margin-right: 18px;
    padding: 0;
}
.footer__link:hover {
    border-bottom: 3px solid #fff;
    transition: border-bottom  0.9s linear;
}
@media screen and (min-width : 768px) and (max-width : 1023px) {
    .footer__link {
        font-size: 16px;
        line-height: 27px; 
    }
 }
 @media screen and (min-width : 425px) and (max-width : 767px) {
    .footer__link {
        font-size: 24px;
        line-height: 41px; 
        margin: 0 0 32px;
    }
    .footer__link:last-of-type {
        margin-bottom: 38px;
    }
 }
 @media screen and (max-width : 424px) {
    .footer__link {
        font-size: 24px;
        line-height: 41px; 
        margin: 0 0 32px;
    }
 }