.intro__container {
    max-width: 70%;
}
@media screen and (max-width : 1024px) {
    .intro__container {
        max-width: 75%;
    }
 }
 @media screen and (min-width : 768px) and (max-width : 1024px) {
    .intro__container {
        max-width: 720px;
    }
 }
 @media screen and (min-height : 425px) and (max-width : 768px) {
    .intro__container {
        max-width: 100%;
    }
 }