.intro__container {
    max-width: 70%;
}
@media screen and (min-width : 1023px) and (max-width : 1280px) {
    .intro__container {
        max-width: 75%;
    }
 }
 @media screen and (min-width : 768px) and (max-width : 1024px) {
    .intro__container {
        max-width: 720px;
    }
 }
 @media screen and (min-width : 425px) and (max-width : 767px) {
    .intro__container {
        max-width: 95%;
        margin: 0 auto;
    }
 }
 @media screen and (min-width : 375px) and (max-width : 424px) {
    .intro__container {
        max-width: 95%;
        margin: 0 auto;
    }
 }
 @media screen and (min-width : 320px) and (max-width : 374px) {
    .intro__container {
        max-width: 95%;
        margin: 0 auto;
    }
 }
 
 
