.lead__title {
    font-family: "Inter", sans-serif;
    font-size: 6rem;
    line-height: 90px;
    font-weight: 900;
    color: #fff;
    margin: 0 auto;
    text-align: center;
}
@media screen and (max-width : 1024px) {
    .lead__title {
        width: 100%;
    }
}
@media screen and (min-width : 768px) and (max-width : 1084px) {
    .lead__title {
        width: 100%;
    }
 }
 @media screen and (min-width : 425px) and (max-width : 1084px) {
    .lead__title {
        width: 91%;
        font-size: 40px;
        line-height: 44px;
    }
 }
 @media screen and (max-width : 425px) {
    .lead__title {
        width: 91%;
        font-size: 40px;
        line-height: 44px;
    }
 }