.lead__title {
    font-family: "Inter", sans-serif;
    font-size: 96px;
    line-height: 93px;
    font-weight: 900;
    color: #fff;
    margin: 0 auto;
    text-align: center;
}
@media screen and (min-width : 1024px) and (max-width : 1279px) {
    .lead__title {
        width: 90%;
    }
}
@media screen and (min-width : 768px) and (max-width : 1023px) {
    .lead__title {
        width: 95%;
    }
 }
 @media screen and (min-width : 425px) and (max-width : 767px) {
    .lead__title {
        width: 91%;
        font-size: 40px;
        line-height: 44px;
    }
 }
 @media screen and (max-width : 424px) {
    .lead__title {
        width: 91%;
        font-size: 40px;
        line-height: 44px;
    }
 }