.lead__title {
    font-family: "Inter", sans-serif;
    font-size: 96px;
    line-height: 93px;
    font-weight: 900;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    max-width: 782px;
}
@media screen and (min-width : 1024px) and (max-width : 1279px) {
    .lead__title {
        max-width: 782px;
    }
}
@media screen and (min-width : 768px) and (max-width : 1023px) {
    .lead__title {
        max-width: 720px;
    }
 }
 @media screen and (min-width : 425px) and (max-width : 767px) {
    .lead__title {
        max-width: 90%;
        font-size: 40px;
        line-height: 44px;
    }
 }
 @media screen and (min-width : 375px) and (max-width : 424px) {
    .lead__title {
        max-width: 75%;
        font-size: 40px;
        line-height: 44px;
    }
 }
 @media screen and (min-width : 320px) and (max-width : 374px) {
    .lead__title {
        max-width: 91%;
        font-size: 40px;
        line-height: 44px;
    }
 }