.logo {
    width: 177px;
    height: 52px;
    background-size: cover;
    background-image: url(../../images/logo.png);
    grid-area: logo;
}
@media screen and (min-width : 768px) and (max-width : 1279px) {
    .logo {
        width: 176.58px;
        height: 52px;
    }
 }
@media screen and (max-width : 767px) {
    .logo {
        width: 142px;
        height: 42px;
    }
 }
