.video__duration {
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    margin: 0 0 0 30px;
    z-index: 1;
}
@media screen and (max-width : 425px) {
    .video__duration {
        margin: 0 0 0 16px;
    }
 }