.footer__links {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    color: #fff;
    position: relative;
    margin: 0;
    padding: 0;
}
@media screen and (min-width : 425px) and (max-width : 767px) {
    .footer__links {
        flex-direction: column;
    }
 }
 @media screen and (max-width : 424px) {
    .footer__links {
        flex-direction: column;
        margin-bottom: 38px;
    }
 }