.place__paragraph {
    font-family: "Inter", sans-serif;
    margin-bottom: 36px;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #fff;    
}
.place__paragraph:last-of-type{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;  
}
@media screen and (min-width : 425px) and (max-width : 767px) {
    .place__paragraph {
        font-size: 1rem;
        line-height: 27px;
    }
 }
 @media screen and (min-width : 375px)  and (max-width : 424px) {
    .place__paragraph {
        font-size: 1rem;
        line-height: 27px;
        margin: 0 auto 24px;
        width: 343px;
    }
 }
 @media screen and (min-width : 320px)  and (max-width : 374px) {
    .place__paragraph {
        font-size: 1rem;
        line-height: 27px;
        margin: 0 auto 24px;
        width: 288px;
    }
 }


