.place__paragraph {
    font-family: "Inter", sans-serif;
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
@media screen and (min-width : 425px) and (max-width : 767px) {
    .place__paragraph {
        font-size: 1rem;
        line-height: 27px;
    }
 }
