@import url(./__image/comment__image.css);
@import url(./__quote/comment__quote.css);
@import url(./__author/comment__author.css);
.comment {
    width: 30%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
@media screen and (min-width : 768px) and (max-width : 1023px) {
    .comment {
        width: 100%; 
        margin: 0 0 47px;       
        align-items: center;
        justify-content: space-between;  
    }
 }
 @media screen and (min-width : 425px) and (max-width : 767px) {
    .comment {
        width: 100%;
        margin: 0 0 47px; 
        align-items: center;
        justify-content: space-between;        
    }
 }
 @media screen and (max-width : 424px) {
    .comment {
        width: 100%;
        margin: 0 0 47px; 
        align-items: center;
        justify-content: space-between;
    }
 }
