.video__title {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 39px;
    margin: 12px 0 18px 30px;
    width: 50%;
    z-index: 1;
}
@media screen and (max-width : 1024px) {
    .video__title {
       width: 70%;
    }
 }
 @media screen and (min-width : 768px) and (max-width : 1024px) {
    .video__title {
       font-size: 24px;
    }
 }
 @media screen and (min-width : 425px) and (max-width : 768px) {
   .video__title {
      width: 86%;
      font-size: 24px;
      line-height: 26px;       
   }
}
@media screen and (max-width : 425px) {
   .video__title {
      width: 86%;
      font-size: 24px;
      line-height: 26px;    
      margin: 8px 0 2px 16px;   
   }
}