.video__title {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 39px;
    width: 60%;
    z-index: 1;
    margin: 12px 0 18px;
}
@media screen and (min-width : 1024px) and (max-width : 1279px){
    .video__title {
       width: 70%;
    }
 }
 @media screen and (min-width : 768px) and (max-width : 1023px) {
    .video__title {
       font-size: 24px;
       width: 80%;
       line-height: 26px;
       margin: 8px 0 4px;
    }
 }
 @media screen and (min-width : 425px) and (max-width : 767px) {
   .video__title {
      width: 95%;
      font-size: 24px;
      line-height: 26px; 
      margin: 8px 0 3px;      
   }
}
@media screen and (max-width : 424px) {
   .video__title {
      width: 95%;
      font-size: 24px;
      line-height: 26px; 
      margin: 8px 0 3px;      
   }
}