.lead__image {
    width: 100%;  
    margin-bottom: 11px;
    background-size: contain;
}
@media screen and (min-width : 1024px) and (max-width : 1279px) {
    .lead__image {
        margin-bottom: 16px;
    }
 }
 @media screen and (min-width : 768px) and (max-width : 1023px) {
    .lead__image {
        margin-bottom: 16px;
}
}
@media screen and (min-width : 425px) and (max-width : 767px) {
    .lead__image {
        margin: 0 0 11px;
    }
 }