.video__icon-play {
    height: 41px;
    width: 41px;
    margin: 30px 0 94px 30px;
    z-index: 1;
}
@media screen and (max-width : 1024px) {
    .video__icon-play {
        margin: 30px 0 54px 30px;
    }
 }
 @media screen and (min-width : 768px) and (max-width : 1024px) {
    .video__icon-play {
        margin: 30px 0 36px 30px;
    }
 }
 @media screen and (max-width : 425px) {
    .video__icon-play {
        margin: 16px 0 16px 16px;
    }
 }