.video__icon-play {
    background-image: url(../../../images/icon-play.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 41px;
    width: 41px;
    margin: 30px;
    z-index: 1;
}
 @media screen and (min-width : 768px) and (max-width : 1023px) {
    .video__icon-play {
        margin: 24px 24px 17px 24px;
        height: 41px;
        width: 41px;
        background-size: cover;
    }
 }
 @media screen and (min-width : 425px) and (max-width : 767px) {
    .video__icon-play {
        margin: 24px 24px 17px 24px;
    }
 }
 @media screen and (min-width : 374px) and (max-width : 424px) {
    .video__icon-play {
        margin: 24px 24px 17px 24px;
    }
 }
 @media screen and (min-width : 320px) and (max-width : 374px) {
    .video__icon-play {
        margin: 16px;
    }
 }