.video__icon-play {
    height: 41px;
    width: 41px;
    z-index: 1;
    position: absolute;
    top: 30px;
    left: 30px;
    margin-bottom: 94px;
}
@media screen and (min-width : 1024px)  and (max-width : 1280px){
    .video__icon-play {
        margin-bottom: 54px;
    }
 }
 @media screen and (min-width : 768px) and (max-width : 1023px) {
    .video__icon-play {
        top: 24px;
        left: 24px;
        margin-bottom: 17px;

    }
 }
 @media screen and (min-width : 425px) and (max-width : 767px) {
    .video__icon-play {
        top: 24px;
        left: 24px;
        margin-bottom: 41px;
    }
 }
 @media screen and (max-width : 424px) {
    .video__icon-play {
        top: 24px;
        left: 24px;
        margin-bottom: 17px;
    }
 }
 @media screen and (min-width : 320px) and (max-width : 375px) {
    .video__icon-play {
        bottom: 16px;
        left: 16px;
    }
 }