@import url(./__title/intro__title.css);
@import url(./__paragraph/intro__paragraph.css);
@import url(./__list/intro__list.css);
@import url(./__point/intro__point.css);
@import url(./__point-accent/intro__point-accent.css);
@import url(./__container/intro__container.css);
.intro{
    margin: 0 auto;
    color: #fff;
    max-width: 998px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
@media screen and (max-width : 1024px) {
    .intro {
        max-width: 928px;
    }
 }
 @media screen and (min-width : 768px) and (max-width : 1024px) {
    .intro {
        max-width: 720px;
    }
 }
 @media screen and (min-height : 425px) and (max-width : 767px) {
    .intro {
        max-width: 343px;
    }
 }