.video__text-container {
    height: 43%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    bottom: 30px;
    left: 30px;
}
@media screen and (min-width : 768px) and (max-width : 1023px) {
    .video__text-container {
        bottom: 24px;
        left: 24px;
    }
 }
@media screen and (min-width : 425px) and (max-width : 767px) {
    .video__text-container {
        bottom: 24px;
        left: 24px;
    }
 }
 @media screen and (max-width : 424px) {
    .video__text-container {
        bottom: 24px;
        left: 24px;
    }
 }
 @media screen and (min-width : 320px) and (max-width : 375px) {
    .video__text-container {
        bottom: 16px;
        left: 16px;
    }
 }