.video__text-container {
    margin: 30px;
    z-index: 1;
}
@media screen and (min-width : 768px) and (max-width : 1023px) {
    .video__text-container {
        margin: 0 24px 24px;
    }
 }
@media screen and (min-width : 425px) and (max-width : 767px) {
    .video__text-container {
        margin: 0 24px 24px;
    }
 }
 @media screen and (max-width : 424px) {
    .video__text-container {
        margin: 0 24px 24px;
    }
 }
 @media screen and (min-width : 320px) and (max-width : 374px) {
    .video__text-container {
        margin: 16px;
    }
 }