@import url(./_theme/section-subtitle_theme_dark.css);
.content-subtitle {
    width: 55%;
    margin: 0 auto 72px;
    text-align: center;
    line-height: 35px;
    font-size: 1.5rem;
    font-weight: normal;
    color: #fff;
    font-family: 'Inter', sans-serif;
}
@media screen and (min-width : 1024px) and (max-width : 1280px) {
    .content-subtitle {
        width: 70%;
    }
 }
 @media screen and (min-width : 768px) and (max-width : 1023px) {
    .content-subtitle {
        width: 97%;
    }
 }
 @media screen and (min-width : 425px) and (max-width : 767px) {
    .content-subtitle {
        width: 100%;
        font-size: 16px;
        line-height: 23px;        
    }
 }
 @media screen and (max-width : 424px) {
    .content-subtitle {
        width: 100%;
        font-size: 16px;
        line-height: 23px;        
    }
 }