.lead__subtitle {
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-size: 1.9rem;
    line-height: 36px;
    text-align: center;
    width: 63%;
    color: #fff;
    margin: 0 auto;
    padding: 48px 0 78px;
}
@media screen and (max-width : 1084px) {
.lead__subtitle {
    width: 100%;
}
}
@media screen and (min-width : 768px) and (max-width : 1084px) {
    .lead__subtitle {
        width: 100%;
}
}
@media screen and (min-width : 425px) and (max-width : 1084px) {
    .lead__subtitle {
       width: 100%;
       padding: 8px 0 31px;
        font-size: 1rem;
        line-height: 1.4;
    }
 }
 @media screen and (max-width : 425px) {
    .lead__subtitle {
       width: 100%;
       padding: 8px 0 31px;
        font-size: 1rem;
        line-height: 1.4;
    }
 }

