.video__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    width: 67%;
    z-index: 1;
    position: relative;
    margin: 0;
}
@media screen and (min-width : 768px) and (max-width : 1023px) {
    .video__subtitle {
       width: 100%;
    }
 }
 @media screen and (min-width : 425px) and (max-width : 767px) {
    .video__subtitle {
       width: 100%;
    }
 }
 @media screen and (max-width : 424px) {
    .video__subtitle {
       width: 100%;
    }
 }