.cover__title {
    width: 90%;
    text-align: center;
    margin: 274px auto 134px;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    color: #fff;
    z-index: 1;
}
@media screen and (min-width : 1024px) and (max-width : 1279px) {
    .cover__title {
        width: 100%;
        margin: 211px auto 95px;
    }
 }
@media screen and (min-width : 768px) and (max-width : 1023px) {
    .cover__title {
        width: 80%;
        margin: 165px auto 45px;
    }
 }
 @media screen and (min-width : 425px) and (max-width : 767px) {
    .cover__title {
        width: 70%;
        font-size: 32px;
        line-height: 35px;
        margin: 104px auto 7px;
    }
 }
 @media screen  and (min-width : 375px) and (max-width : 424px) {
    .cover__title {
        width: 70%;
        font-size: 32px;
        line-height: 35px;
        margin: 104px auto 7px;
    }
 }
 @media screen and (min-width : 320px) and (max-width : 374px) {
    .cover__title {
        width: 80%;
        font-size: 32px;
        line-height: 35px;
        margin: 64px auto 7px;
    }
 }