.cover__title {
    width: 90%;
    text-align: center;
    margin: 0 auto 134px;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    color: #ffffdf;
    z-index: 1;
}
@media screen and (min-width : 768px) and (max-width : 1024px) {
    .cover__title {
        width: 100%;
        margin: 0 auto 45px;
    }
 }
 @media screen and (min-width : 425px) and (max-width : 768px) {
    .cover__title {
        width: 90%;
        font-size: 32px;
        line-height: 35px;
        margin: 0 auto 7px;
    }
 }
 @media screen and (max-width : 425px) {
    .cover__title {
        width: 90%;
        font-size: 32px;
        line-height: 35px;
        margin: 0 auto 7px;
    }
 }