@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__links/footer__links.css);
.footer {   
    margin: 0 auto 40px;
    max-width: 1184px;
    position: relative;
    min-height: 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    color: #fff;
}
@media screen and (min-width : 1024px) and (max-width : 1279px) {
    .footer {
        max-width: 928px;
    }
 }
 @media screen and (min-width : 768px) and (max-width : 1023px) {
    .footer {
        max-width: 720px;
    }
 }
 @media screen and (min-width : 425px) and (max-width : 767px) {
    .footer {
        max-width: 282px;
        flex-direction: column;
        align-items: flex-start;
    }
 }
 @media screen and (min-width : 375px) and (max-width : 424px) {
    .footer {
        max-width: 283px;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 0 34px 16px;
    }
 }
 @media screen and (min-width : 320px) and (max-width : 374px) {
    .footer {
       width: 160px;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 0 24px 16px;
    }
 }