@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__nav/footer__nav.css);
.footer {   
    margin: 0 auto 40px;
    max-width: 1184px;
    position: relative;
    min-height: 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    color: #fff;
}
@media screen and (max-width : 1084px) {
    .footer {
        max-width: 928px;
    }
 }
 @media screen and (min-width : 768px) and (max-width : 1084px) {
    .footer {
        max-width: 768px;
    }
 }
 @media screen and (min-width : 425px) and (max-width : 768px) {
    .footer {
        max-width: 282px;
        flex-direction: column;
        align-items: flex-start;
    }
 }
 @media screen and (max-width : 425px) {
    .footer {
        max-width: 183px;
        flex-direction: column;
        align-items: flex-start;
    }
 }