.video__item-observatory {
    background-image: url(../../../images/observatory.png);
    position: relative;
}
@media screen and (min-width : 425px) and (max-width : 768px) {
    .video__item-observatory {
        background-size: cover;
    }
 }
 @media screen and (max-width : 425px) {
    .video__item-observatory {
        background-size: cover;
        background-position: center
    }
 }