.place__url {
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #fff;
    margin: 0;
}
.place__url:hover {
    opacity: 0.8;
    transition: opacity  0.9s ease-in-out;
}