.place__website {
    color: #fff;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}
@media screen and (min-width : 425px) and (max-width : 768px) {
    .place__website {
        visibility: hidden;
    }
 }