.video__container {
    min-height: 323px;
    display: grid;   
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 18px;    
}
@media screen and (max-width : 1024px) {
    .video__container {
        min-height: 288px;
        grid-gap: 16px;
    }
 }
 @media screen and (min-width : 768px) and (max-width : 1024px) {
    .video__container {
        min-height: 200px;
    }
 }
 @media screen and (min-width : 425px) and (max-width : 768px) {
    .video__container {
        min-height: 408px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
 }
 @media screen and (max-width : 425px) {
    .video__container {
        min-height: 392px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
 }