.video__container {
    width: 100%;
    height: 323px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
 @media screen and (min-width : 768px) and (max-width : 1023px) {
    .video__container {
        height: 200px;
    }
 }
 @media screen and (min-width : 425px) and (max-width : 767px) {
    .video__container {
        height: 408px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
 }
 @media screen and (max-width : 424px) {
    .video__container {
        height: 408px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
 }