.content-title {
    max-width: 800px;
    margin: 102px auto 43px;
    text-align: center;
    line-height: 78px;
    font-size: 72px;
    font-weight: 900;
    color: #fff;
    font-family: 'Inter', sans-serif;
}
@media screen and (min-width : 1024px)  and (max-width : 1279px) {
    .content-title {
        max-width: 928px;
    }
 }
 @media screen and (min-width : 768px) and (max-width : 1023px) {
    .content-title {
        max-width: 720px;
        font-size: 42px;
        line-height: 46px;
        margin: 102px auto 24px;
    }
 }
 @media screen and (min-width : 425px) and (max-width : 767px) {
    .content-title {
        font-size: 32px;
        line-height: 35px;  
        max-width: 343px;  
        margin: 64px auto 16px auto;    
    }
 }
 @media screen and (min-width : 375px) and (max-width : 424px) {
    .content-title {
        font-size: 32px;
        line-height: 35px;  
        max-width: 100%;  
        margin: 64px auto 16px auto;    
    }
 }
 @media screen and (min-width : 320px) and (max-width : 374px) {
    .content-title {
        font-size: 32px;
        line-height: 35px;  
        max-width: 100%;  
        margin: 64px auto 16px auto;    
    }
 }