.content-title {
    width: 67%;
    margin: 102px auto 43px;
    text-align: center;
    line-height: 78px;
    font-size: 72px;
    font-weight: bold;
    color: #fff;
    font-family: 'Inter', sans-serif;
}
@media screen and (min-width : 1024px) {
    .content-title {
        width: 100%;
    }
 }
 @media screen and (min-width : 768px) and (max-width : 1023px) {
    .content-title {
        font-weight: 900;
        width: 90%;
        font-size: 42px;
        line-height: 46px;
        margin: 102px auto 24px;
    }
 }
 @media screen and (min-width : 425px) and (max-width : 767px) {
    .content-title {
        font-size: 32px;
        line-height: 35px;  
        width: 100%;  
        margin: 64px auto 16px auto;    
    }
 }
 @media screen and (max-width : 424px) {
    .content-title {
        font-size: 32px;
        line-height: 35px;  
        width: 100%;  
        margin: 64px auto 16px auto;    
    }
 }