.intro__title {
    width: 100%;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 54px;
    line-height: 59px;
    margin: 0 0 48px;
}
@media screen and (min-width : 768px) and (max-width : 1023px) {
    .intro__title {
        width: 100%;
        font-weight: bold;
        font-size: 54px;
        line-height: 59px;
    }
 }
@media screen and (min-width : 425px) and (max-width : 767px) {
    .intro__title {
        font-size: 2rem;
        line-height: 35px;
        margin: 0 0 42px;
    }
 }
 @media screen and (min-width : 320px) and (max-width : 424px) {
    .intro__title {
        font-size: 2rem;
        line-height: 35px;
        margin: 0 0 32px;
    }
 }